body{
    background-color:lightsteelblue;
}

.content {
    margin:10px;
    text-align: center;
}

/*
The parsed code control:
*/
.code {
    border: 1px black solid;
    margin: 10px;
    table-layout: fixed;
    text-align: left;
}

.instruction {
    color: darkblue;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    width: 50px;
}

.register {
    color: darkmagenta;
    font-weight: bold;
    text-align: center;
    width: 150px;
}

.value {
    color: black;
    font-weight: normal;
    text-align: center;
    width: 150px;
}

.eip {
    width: 10px;
}

.current-line {
    background-color: goldenrod;
}